
<div *ngIf="permission">
    <h2><span jhiTranslate="wBoardApp.permission.detail.title">Permission</span> {{permission.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="wBoardApp.permission.user">User</span></dt>
        <dd>
            {{permission.user?.login}}
        </dd>
        <dt><span jhiTranslate="wBoardApp.permission.board">Board</span></dt>
        <dd>
            <div *ngIf="permission.board">
                <a [routerLink]="['/board', permission.board?.id]">{{permission.board?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="wBoardApp.permission.type">Type</span></dt>
        <dd>
            <div *ngIf="permission.type">
                <a [routerLink]="['/permission-type', permission.type?.id]">{{permission.type?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'permission/'+ permission.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
