
<div *ngIf="adminTools">
    <h2><span jhiTranslate="wBoardApp.adminTools.detail.title">Admin Tools</span> {{adminTools.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="wBoardApp.adminTools.user">User</span></dt>
        <dd>
            {{adminTools.userLogin}}
        </dd>
        <dt><span jhiTranslate="wBoardApp.adminTools.board">Board</span></dt>
        <dd>
            <div *ngIf="adminTools.boardId">
                <a [routerLink]="['/board', adminTools.boardId]">{{adminTools.boardName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'admin-tools/'+ adminTools.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
