
<div *ngIf="boardUser">
    <h2><span jhiTranslate="wBoardApp.boardUser.detail.title">Board User</span> {{boardUser.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="wBoardApp.boardUser.user">User</span></dt>
        <dd>
            {{boardUser.userLogin}}
        </dd>
        <dt><span jhiTranslate="wBoardApp.boardUser.board">Board</span></dt>
        <dd>
            <div *ngIf="boardUser.boardId">
                <a [routerLink]="['/board', boardUser.boardId]">{{boardUser.boardName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'board-user/'+ boardUser.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
