
<div *ngIf="reader">
    <h2><span jhiTranslate="wBoardApp.reader.detail.title">Reader</span> {{reader.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="wBoardApp.reader.board">Board</span></dt>
        <dd>
            <div *ngIf="reader.board">
                <a [routerLink]="['/board', reader.board?.id]">{{reader.board?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="wBoardApp.reader.user">User</span></dt>
        <dd>
            {{reader.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'reader/'+ reader.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
