
<div *ngIf="boardsBody">
    <h2><span jhiTranslate="wBoardApp.boardsBody.detail.title">Boards Body</span> {{boardsBody.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="wBoardApp.boardsBody.backgroundColor">Background Color</span></dt>
        <dd>
            <span>{{boardsBody.backgroundColor}}</span>
        </dd>
        <dt><span jhiTranslate="wBoardApp.boardsBody.board">Board</span></dt>
        <dd>
            <div *ngIf="boardsBody.boardId">
                <a [routerLink]="['/board', boardsBody.boardId]">{{boardsBody.boardName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'boards-body/'+ boardsBody.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
